body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#container {
	width: 95%;
	margin: 20px auto 0px auto;
}

.equation {
 	float:left;
 	width: 19.8%;
 	border:1px solid black;
 	min-height: 300px;
 	font-size: 180px;
}

#answer {
	font-size: 180px;
	width:95%;
}

#stats {
	position: fixed;
	width: 200px;
	top: 50px;
	right: 30px;
	font-size: 1.2em;
	padding: 3px;
	border-radius: 5%;
}

.time {
	position: fixed;
	width: 200px;
	top: 90px;
	right: 30px;
	font-size: 1.2em;
	padding: 3px;
	border-radius: 5%;
	background-color: lightgrey;
	border: 1px solid grey;

}

#summary {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:50px;
	background-color: #F2F2E8;
	z-index: 10;
	width: 50%;
	color: black;
	display: none;
	border-radius: 2%;
	border:1px solid black;
	text-align: left;
	padding: 10px;
}

.success {
	background-color: #70F77A;
}

.failure {
	background-color: #FF5536;
}

ul > li {
	padding: 5px;
}

ul {
	list-style-type: none;
	width: 35%;
}

#rating {
	position: absolute;
	bottom: 10px;
	right: 20px;
	width:180px;
	color: black;
	font-size: 1.4em;
}

#restart {
	position: absolute;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	
}

.sad, .happy {
	position: fixed;
	top: 450px;
	width: 200px;
	min-height: 150px;
	display: none;
}

img {
	max-width: 100%
}



